@font-face {
  font-family: "iconfont"; /* Project id 3916215 */
  src: url('iconfont.woff2?t=1677335352437') format('woff2'),
       url('iconfont.woff?t=1677335352437') format('woff'),
       url('iconfont.ttf?t=1677335352437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
  content: "\e602";
}

.icon-shebeipeizhi:before {
  content: "\e677";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-fuwuxunhuanguanli_o:before {
  content: "\eb53";
}

.icon-tab1:before {
  content: "\e60f";
}

